<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.ucla.cens.wetap"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name">
        <service android:name=".survey_upload" />
        <service android:name=".light_loc" />
        <activity android:name=".WeTapActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".authenticate"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".survey"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".photo"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".map"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".popup"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".about"
                  android:label="@string/app_name">
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
        </activity>
        <activity android:name=".instructions"
                  android:label="@string/app_name">
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
        </activity>
        <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ah" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 
