{% extends "template.html" %}    

{% block title %}WeTap{% endblock %}

{% block content %}
    <div id="content" style="width: 480px; font-size:20px; position:absolute; top:200px; left:50px;" align="left">
        <p><b>WeTap</b> is a <a href="http://participatorysensing.org/">participatory sensing</a> campaign geared towards identifying, describing and <a href="/map">mapping</a> public drinking fountains.</p>
        <p>This service helps provide access to free water for those who simply want water to drink without waste or want to refill their reusable canteens while out of the home.  With this <a href="/clients">Android application</a> you can view a <a href="/map">map</a> of nearby drinking water sources as well as rate specific fountains and assist in helping this vital public infrastructure improve.</p>
        <p><b>Save money, reduce single use plastic, tell a friend!</b></p>
    </div>

    <div style="position:absolute; left:580px; top:200px;">
        <img src="/images/drinking-water.png"/>
    </div>
{% endblock %}
