{% extends "template.html" %}    

{% block title %}Google Map{% endblock %}

{% block includes %}
    <script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%222%22%7D%5D%7D&key=ABQIAAAAkUIiEfM2SYnpO0mGD7s2VxRMK0JKVrksL0mowNee39efPEHpdBSt45sBnLoW4T6NV_qRDCE4n9zFtw"></script>
{% endblock %}

{% block javascript %}
    // Load Google Maps API
    google.load("maps", "2");

    // ---- Data Definition ----
    // base URL
    var BASE_URL = "http://we-tap.appspot.com";

    // AJAX http object
    var ajax = null;

    // google maps object
    var map = null;             
            
    // Keep track of markers currently on map
    var allFountainMarkers = [];

    // index of selected marker            
    var selectedFountainIndex = 0;     

    // stores icons used
    var markerIcons = [];
	var FOUNTAIN_ICON = "fountain";
    markerIcons[FOUNTAIN_ICON] = new GIcon(G_DEFAULT_ICON);
    markerIcons[FOUNTAIN_ICON].image = "icons/mm_20_blue.png";
    markerIcons[FOUNTAIN_ICON].iconSize = new GSize(12, 20);  


    // ---- Functions ----
//-----------------------------------------------------------------------------
    // ---- call to get point data from server in JSON format. Result Handled by handleGetPointReq
    function getFountainData(lat, lng, distInMiles) {
        //// Calling again just in case  if it may be needed
        if(ajax == null) {		
            ajax = getXMLHttpRequestObject();    
        }

        if (ajax != null) 
        {
            var reqURL = BASE_URL + "/get_point_data?distInMiles=" + distInMiles 
                                                        + "&lat=" + lat
                                                        + "&lng=" + lng;
            //alert(reqURL);
            ajax.open("GET", reqURL , true); 
            ajax.onreadystatechange = handleGetPointReq;    
            ajax.send(null);		
        }
        else
        {
            alert("ajax in null");
        }
	}	
//-----------------------------------------------------------------------------
    // ---- handle request to get points
    function handleGetPointReq() {
        if(ajax.readyState == 4) {
            if((ajax.status == 200) || (ajax.status == 304)) {
                // parse JSON data and make marker for each
                var data = eval('(' + ajax.responseText + ')');
                var data = JSON.parse(ajax.responseText);           
                var sidebarHtml = "";

                if(data.length > 0) {
                    sidebarHtml = '<table id="fountain_list" style="overflow: auto; display: block; overflow-x: no; overflow-y: scroll; height: 600px; width:200px;">';
                    for(var i = 0; data.length > i; i++) {
                        var html = "<img src=\"http://we-tap.appspot.com/get_an_image?key=" + data[i].key + "\" width=\"180\" height=\"130\">" +
                                   "<br />" +
                                   "<p><b>Taste: </b>" + data[i].taste + "<br/>" +
                                   "<b>Visibility: </b>" + data[i].visibility + "<br/>" +
                                   "<b>Operable: </b>" + data[i].operable + "<br/>" +
                                   "<b>Flow: </b>" + data[i].flow + "<br/>" +
                                   "<b>Wheelchair accessible: </b>" + data[i].wheel + "<br/>" +
                                   "<b>Child accessible: </b>" + data[i].child + "<br/>" +
                                   "<b>Can refill water bottle: </b>" + data[i].refill + "<br/>" +
                                   "<b>Unable to refill because: </b><br/>" + data[i].refill_aux + "<br/>" +
                                   "<b>Location: </b>" + data[i].location +
                                   "</p>";

                        allFountainMarkers[i] = makeMarkerWithMsg(new GLatLng(data[i].latitude, data[i].longitude), html, FOUNTAIN_ICON);
                        map.addOverlay(allFountainMarkers[i]);
    
                        // for sidebar information. Add one row for each data point
                        var rowColor = "#C0CBE7";      // light blue             
                        if(i % 2 == 0) {
                            rowColor = "white";
                        }
                        sidebarHtml = sidebarHtml + '<tr style="background-color:' + rowColor + ';"><td>' +
                                                '<center><a onclick="focusOnFountain(' + i + ')">' +
					                            '<div id="fountain' + i + '" style="cursor:pointer;">' +
					                            '<font size=5 color=#2D73B9><u>' + (i + 1) + '</u></font><br/></div></a></center>' + 
                                            '</td>' +
                                            '<td>Lat:' + data[i].latitude + '\nLng: ' + data[i].longitude + '</td></tr>'; 
                    }
                    
                    sidebarHtml = sidebarHtml + '</table>';
                    var fountainListLoc = document.getElementById("fountain_list");
			        fountainListLoc.innerHTML = sidebarHtml;
                }
            }
            else {
                alert("Request to get point data failed.");
            }
        }
    }
//-----------------------------------------------------------------------------
    // ---- display water fountains within dist of current map's center
    function getFountainForCurrentMap(dist) {
        clearFountainMarkers();     
        myCenter = map.getCenter(); 
        getFountainData(myCenter.lat(), myCenter.lng(), dist);
    }
//-----------------------------------------------------------------------------
    // ---- make a marker
    function makeMarkerWithMsg(markerLatLng, myHtml, typeOfIcon) {
        var marker = new GMarker(markerLatLng, markerIcons[typeOfIcon]);
        marker.bindInfoWindowHtml(myHtml);
        return marker;
    }
//-----------------------------------------------------------------------------
    // ---- clear current markers on map
    function clearFountainMarkers() {
		for(var index = 0; allFountainMarkers.length > index; index++) {
			map.removeOverlay(allFountainMarkers[index]);
		}
		allFountainMarkers = [];
        var fountainListLoc = document.getElementById("fountain_list");
	    fountainListLoc.innerHTML = '<div id="fountain_list"></div>';
	}
//-----------------------------------------------------------------------------
    // ---- focus map to fountain with given index
    function focusOnFountain(fountainIndex) {
		var point = allFountainMarkers[fountainIndex].getLatLng();
		//map.setZoom(11);
		map.panTo(point);

		// label on map with red after clicked
		allFountainMarkers[selectedFountainIndex].setImage('icons/mm_20_blue.png');
		allFountainMarkers[fountainIndex].setImage('icons/mm_20_red.png');
		selectedFountainIndex = fountainIndex;
	}
//-----------------------------------------------------------------------------
    // ---- called on page load, to initialize map
    function initialize() {
        // initialize ajax object
        ajax = getXMLHttpRequestObject();

        if(ajax) {
            if (GBrowserIsCompatible()) {
                var mapOptions = {
                    googleBarOptions : {
                        style : "new"
                    }
                }

                map = new GMap2(document.getElementById("map_canvas"), mapOptions);
                //// Center Map
                // Default to UCLA location
                var initialLat =  34.069209;
                var initialLng = -118.443161; 
                var initialZoom = 14;
		
                // If the user is using a browser that supports the new Geolocation API by WC3, get lat and lng that way
                if(navigator.geolocation) {
                    // handles successful attempt to get accurate user location information
                    function setUserLatLng(position) {
                        // set centered at (position.coords.latitude, position.coords.longitude)
                        initialLat = position.coords.latitude;
                        initialLng = position.coords.longitude;
                        initialZoom = 14;
                    }

                    // One-shot position request.
                    navigator.geolocation.getCurrentPosition(setUserLatLng);
                }		
                else {
                    // otherwise use google's API
                    if(google.loader.ClientLocation &&
                    google.loader.ClientLocation.address.country_code == "US" &&
                    google.loader.ClientLocation.address.region) {
                        // If the client information is available, set center to the client locaiton
                        initialLat = google.loader.ClientLocation.latitude;
                        initialLng = google.loader.ClientLocation.longitude;
                        initialZoom = 13;
                    }
                    else {
                        // FOR DEBUGGING
                        //alert("Client Information Not Available");
                    }
                }
            
                var startingCenter = new GLatLng(initialLat, initialLng);
                map.setCenter(startingCenter, initialZoom);  

                map.setUIToDefault();
                map.enableGoogleBar();
     
                // Try to get data for points
                getFountainForCurrentMap(5);
            }
        }
    }
//-----------------------------------------------------------------------------
{% endblock %}

{% block content %}
    <table border=0 rules="cols">	
		<tr>			
			<td width=200 valign="top">
				<div id="fountain_list"></div>
			</td>		
			<td width=750 valign="top">
				<div id="map_canvas" style="width: 750px; height: 600px" align="center"></div>
			</td>	
		</tr>	
	</table>
    <input type="button" value="Get Water Fountains for Current Location" onClick="getFountainForCurrentMap(5);"/>
{% endblock %}
